@import "theme.css";

.chatContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding-top: 10px;
  background-color: var(--background-gradient-light);
  font-family: var(--font-family-base);
  transition: var(--transition-base);
  overflow-y: hidden;
  scrollbar-color: var(--gray-shade-5) var(--gray-shade-5); 
}

/* Message Styling */
.messageContent {
  font-family: var(--font-family-base);
  position: relative;
  align-items: flex-start;
  padding-right: 25px; 
}

.messageUser,
.messageBot {
  max-width: 85%;
  font-family: var(--font-family-base);
  font-size: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: fit-content;
  padding: 2px 0px 0px 15px;
  margin: 10px 0px;
  border-radius: 15px;
  color: #000000;
  transition: var(--transition-base);
}

.messageUser {
  max-width: 70%;
  background-color: var(--gray-shade-7);
  color: var(--text-color-light);
  align-self: flex-end;
  transition: var(--transition-base);
}

.messageBot {
  border: 1px solid var(--gray-shade-7);
  margin-left: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Input Container */
.inputContainer {
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  height: 15%;
  width: 85%;
  align-self: center;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: var(--transition-base);
}

.topGroup {
  flex: 1;
  min-height: 0; /* Important for scroll containment */
  display: flex;
  flex-direction: column;
}

/* Input Field */
.inputField {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  font-family: var(--font-family);
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  background: transparent;
  outline: none;
  color: rgb(0, 0, 0);
  transition: var(--transition-base);
}

/* Send Button */
.sendButton {
  background: none;
  border: none;
  cursor: pointer;
  align-items: flex center;
  justify-content: center;
  color: #8d8e90;
  transition: color 0.2s;
  transition: var(--transition-base);
}

.sendButton:hover {
  color: #2563eb;
}

.sendButton:active {
  transform: translateY(1px);
}

/* Chat Messages Styling */
.chatMessages {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* margin-right: 50px; */
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 13px;
}

/* Additional Component Styling */
.buttonContainer,
.currentFileContainer {
  padding: 1rem;
}

.currentFile {
  color: #000000;
  font-weight: bold;
  text-align: center;
  transition: var(--transition-base);
}

.suggestionBox {
  height: auto;
  padding: 5px;
  margin: 10px auto; /* Changed from '8px 0' to '8px auto' for horizontal centering */
  width: 40%;
  transition: all 0.2s ease;
  display: block; /* Added to ensure block-level behavior */
  text-align: center;
  font-family: var(--font-family);
  background-color: var(--gray-shade-7);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  color: black;
  transition: var(--transition-base);
}

.copyContainer {
  position:relative;
  display: flex;
  align-self: flex-end;
}

.copyButton {
  position: absolute; /* Position the button within the context of messageContent */
  top: 100%;
  right: 0%; /* Adjust distance from the right edge */
  transform: translateY(-50%); /* Adjust centering due to absolute positioning */
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  color: #666;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, color var(--transition-base);
}

.messageContent:hover .copyButton {
  opacity: 1;
}

:global(body.dark-mode) .copyButton {
  color: var(--gray-shade-6);
}

.copyButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #333;
}

.copyButton svg {
  vertical-align: middle;
}

.trashIcon {
  width: 16px;
  height: 16px;
}

.textSubmitContainer {
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

/* https://dev.to/kirteshbansal/bouncing-dots-loader-in-react-4jng */
.bouncingLoader {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the loader vertically */
  height: 30px; /* Make the loader container taller */
  position: relative;
}

.bouncingLoader > div {
  width: 6px;
  height: 6px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncingLoader 0.6s infinite alternate;
  transform: translateY(10px);
}

@keyframes bouncingLoader {
  to {
    opacity: 0.1;
    transform: translateY(-10px);
  }
}

.bouncingLoader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncingLoader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.dropdownContainer {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}

.personalityDropdown {
  padding: 8px 32px 8px 12px;
  border-radius: 8px;
  border: 2px solid #e0e0e0;
  background-color: white;
  width: 100%;
  appearance: none;
  transition: var(--transition-base);
}

.personalityDropdown:focus {
  outline: none;
  border-color: var(--primary-color);
}

:global(body.dark-mode) .personalityDropdown {
  background-color: var(--gray-shade-3);
  color: var(--text-color-dark);
  border-color: var(--gray-shade-2);
}

.dropdownOption {
  padding: 8px 12px;
  font-size: 1rem;
  background-color: white;
  color: #333;
  cursor: pointer;
}

.dropdownOption:hover {
  background-color: #f5f5f5;
}

.dropdownOption:checked {
  background-color: #e0e0e0;
}

.selectedIcon {
  display: flex;
  align-items: center;
  color: #666;
}

.selectedIcon svg {
  width: 20px;
  height: 20px;
}

/* Style for the options */
.personalityDropdown option {
  padding: 12px;
  font-size: 14px;
}

.personalityDropdown option:not(:first-of-type) {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dialogContent {
  background-color: var(--background-gradient-light);
  font-family: var(--font-family);
  transition: var(--transition-base);
  padding: 24px;
  border-radius: var(--border-radius-base);
}

:global(body.dark-mode) .dialogContent {
  background-color: var(--bg-secondary);
}

.cancelButton {
  color: var(--gray-shade-3);
}

:global(body.dark-mode) .cancelButton {
  color: var(--gray-shade-6);
}

.confirmButton {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

:global(body.dark-mode) .confirmButton {
  background-color: var(--secondary-color);
}

.confirmButton:hover {
  background-color: var(--secondary-color);
}

:global(body.dark-mode) .confirmButton:hover {
  background-color: var(--primary-color);
}

.disclaimerMessage{
  border-radius: var(--border-radius-base);
  font-family: var(--font-family);
  color: var(--gray-shade-4);
  font-size: 13px;
  align-self: center;
  margin-bottom: 2%;
  padding-left: 15px;
  padding-right: 15px;
}


.noCollections {
  font-family: var(--font-family-base);
  color: var(--nav-text-light);
  align-self: center;
  font-size: 1.2rem;
  margin: 8px 0;
}

.noCollectionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.noCollectionsButton {
  background-color: transparent;
  color: var(--nav-text-light);
  border: 1px solid var(--bg-secondary);
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--font-family-base);
  margin-top: 16px;
  transition: var(--transition-base);
}

.noCollectionsButton:hover {
  background-color: var(--gray-shade-7);
}

.popup {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--error-background);
  color: var(--error-text);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: var(--shadow-base);
  z-index: 1000;
  font-size: var(--font-size-small);
  font-weight: bold;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}